/* styles.css */

/* Body */

body {
    background-image: url('images/aboutmeimage.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: 'Crimson Text', serif; 
    /* ^ backround image ^ */

    color: #333; /* Default font color */
    padding-top: 5em;
    padding-bottom: 2em;
    width: auto;
    scrollbar-width: 0px; 
    overflow-y: scroll; 
    background-color: #fffcf6 ; 
    overflow-x: hidden;


}

/* Fonts */
body {
    font-family: 'Crimson Text';
    letter-spacing: 1px;
}

/* About section */
#about {

    text-align: center;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('path/to/crimsontext.woff2') format('woff2'),
         url('path/to/crimsontext.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Profile Picture */
.rounded-circle {
    border-radius: 10%;
}

/* About content */
.about-content {
    justify-content: center;
}

/* Info list */
.info-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-list li {
    margin-bottom: 10px;
}

.info-list li strong {
    display: inline-block;
    width: 80px; 
}

.info-list li a {
    text-decoration: none;
}


.info-list li a img {
    width: 30px; 
    height: auto;
    vertical-align: middle;
    margin-right: 5px; 
}


/* Skill bars */
.skill-bars {
    list-style-type: none;
    padding-left: 0;
}

.skill-bars li {
    margin-bottom: 10px;
}

/* Progress bars */
.progress {
    margin-bottom: 15px;
}

.progress-bar {
    color: #942222;
    text-align: center;
}

/* Buttons */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
    border-width: auto;
    background-color: rgb(255, 245, 136); 
    box-shadow: 0 2px 4px rgba(255, 222, 37, 0.947); 
}

.navbar .btn {
    margin: 0 5px; 
}
